@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --main-bg-color: #f1eeee;
  --main-text-color: #272a31;
  --contrast-text-color: #ec5242;
  --program-text-color: #f6eeee;
  --border-lines-color: #d9dadf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--main-bg-color);
}

/* NAVIGATION BAR */
header {
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 11px 9px 1px rgba(191, 177, 177, 0.75);
}

.desktop-nav-bar {
  display: none;
}

.hamburger {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--main-text-color);
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: var(--main-text-color);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: var(--main-text-color);
}

/* HERO SECTION */

#competition {
  padding: 2rem;
  /* background-image: url("./images/bg-image-hero.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.pre-heading,
.main-heading {
  color: var(--contrast-text-color);
  padding-bottom: 0.5rem;
}

.pre-heading {
  font-size: 1.5rem;
}

.main-heading {
  font-size: 2.3rem;
  font-weight: 900;
}

.main-description {
  border: 2px solid #fff;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.main-description,
.event-date,
.location {
  color: var(--main-text-color);
}

.event-date {
  padding-bottom: 0.5rem;
  font-weight: 900;
  font-size: 2rem;
}

.location {
  font-size: 1rem;
}

/* PROGRAM SECTION */
#program {
  text-align: center;
  margin-top: 2rem;
  padding: 2rem 1rem;
  background: #000;
  background-image: url("./images/carbon_fibre.png");
}

.program-heading {
  text-align: center;
  color: var(--program-text-color);
}

.orange-borderline {
  border-bottom: 1px solid var(--contrast-text-color);
  width: 50px;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.program-icon {
  width: 30px;
}

.single-program {
  text-align: left;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(63, 63, 65, 0.7);
  padding: 1rem 0.5rem;
}

.programs-container {
  display: flex;
  flex-direction: column;
}

.single-program-heading {
  color: var(--contrast-text-color);
  font-weight: 900;
  font-size: 1rem;
}

.exhibition-heading {
  max-width: 20%;
}

.program-description {
  color: var(--program-text-color);
  font-size: 0.7rem;
  line-height: 1.2rem;
  max-width: 60%;
}

.join-btn {
  background-color: var(--contrast-text-color);
  padding: 1.7rem;
  color: var(--program-text-color);
  border: none;
  width: 70%;
  font-size: 0.85rem;
  margin-top: 1rem;
}

.btn-program {
  display: none;
}

/* Judges Section */
#judges {
  margin-top: 3rem;
  padding: 0 2rem;
}

.judges-container {
  margin-top: 2rem;
}

.judges-heading {
  text-align: center;
  color: var(--main-text-color);
}

.single-judge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.images {
  position: relative;
}

.bg-img {
  width: 80px;
  position: absolute;
  z-index: -1;
  top: -12%;
  left: -10%;
}

.judge-avatar {
  width: 120px;
}

.judges-description {
  margin-left: 2rem;
}

.judge-name {
  color: var(--main-text-color);
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.judge-achievement {
  color: var(--contrast-text-color);
  font-style: italic;
  font-size: 0.8rem;
}

.grey-borderline {
  border-bottom: 1px solid var(--main-text-color);
  width: 30px;
  margin: 0.5rem 0;
}

.judge-background {
  color: var(--main-text-color);
  font-size: 0.8rem;
}

/* PARTNERS SECTION */

#partner {
  background-color: var(--main-text-color);
  padding: 2rem;
}

.partner-heading {
  text-align: center;
  color: var(--program-text-color);
}

.partners-logos-container {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.partners-logo {
  width: 100px;
}

/* FOOTER SECTION */

#footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.left-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.footer-heading,
.footer-description {
  color: var(--main-text-color);
}

.footer-heading {
  font-size: 1rem;
}

.footer-description {
  font-size: 0.7rem;
}

/* ABOUT PAGE */

/* SECTION 1 */

.about-heading {
  text-align: center;
  padding-top: 2rem;
}

.about-description {
  background-color: #fff;
  border: 1px solid var(--border-lines-color);
}

.contact-text {
  text-align: center;
  padding: 0.5rem 2rem;
  color: var(--main-text-color);
}

.email-contact {
  font-size: 0.8rem;
  text-decoration: underline;
  text-align: center;
}

/* SECTION 2 */

#logo-section {
  background-color: #fff;
  padding: 2rem 0;
}

.logo-heading,
.logo-description {
  text-align: center;
  color: var(--main-text-color);
  padding: 0.5rem 1rem;
}

.logo-heading {
  margin: 0 auto;
  max-width: 80%;
}

.logo-description {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid var(--border-lines-color);
  width: 60%;
  padding: 1rem 2rem;
  margin: 2rem auto;
}

.about-logo-img {
  width: 50px;
  height: 50px;
}

.about-logo-text {
  font-size: 1rem;
  font-weight: 900;
}

.date-location {
  font-size: 0.5rem;
  margin: 0.3rem 0;
  border-top: 2px solid var(--border-lines-color);
  border-bottom: 2px solid var(--border-lines-color);
  text-align: left;
  color: var(--main-text-color);
}

/* SECTION 3 */

#past-competition {
  padding-top: 2rem;
  text-align: center;
}

.past-competition-heading {
  color: var(--main-text-color);
}

.past-competition-description {
  color: var(--main-text-color);
  padding: 1rem 0 2rem;
  font-size: 0.7rem;
  max-width: 80%;
  margin: 0 auto;
}

.past-competition-images {
  width: 300px;
  margin-bottom: 1rem;
}
